header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 35px;
    margin-top: 0px;
}

.logo img{
    ̥margin-top: 0px;
}

nav {
    margin-top: 58px;
    width: 81%;
}

nav h1{
    width:50%;
}

nav ul{
    display: inline;
}

.nav-body h1{
    font-size: 30px;
    float: left;
    margin-bottom: 14px;
    margin-top: -99px;
}
.nav-list ul li{
    list-style-type: none;
    
    color: #4A235A;
    font-size: 18px;
    display:inline;
    
    
    
}

.nav-list{
    
    margin-top: -90px;
    margin-left: 830px;
} 

.nav-list ul li a{
    margin-bottom: 14px;
    margin-top: -55px;
    text-decoration: none;
    
    
    
}

.famous{
    margin-bottom: 40px;
}
.famous h1{
    text-align: center;
    padding: 50px 0px 10px 50px;
    font-size: 40px;
    font-family: 'Montserrat';
}

.img2 img{
    width: 300px;
    height: 250px;
}

.img2 img:hover{
    opacity: 0.8;
}
.img3 img{
    width: 300px;
    height: 250px;
}

.img3 img:hover{
    opacity: 0.9;
}


.img2 h2{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat';
}
.img1{
    
    width: 100%;
    margin: auto;
}

.pexels img{
    width: 459px;
}

.pexels-info {
    font-family: 'Montserrat';
}

.foot-col{
    float: left;
    display: inline;
    margin-right: 10px; 
}

.foot{
    margin-top: 15px;
}

.foot-col i{
    margin-right: 15px;
    size: 15px;
}

footer{
    background-color: black;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

footer ul { 
    list-style-type: none;   
}

.history h4{
    text-align: justify;
    font-size: 24px;
    font-family: sans-serif;
    margin:20px;   
}




.about img{
    width:459px;
}

.about-info p{
    font-family: 'Montserrat';
}

.about-info h2{
    font-family: Arial, Helvetica, sans-serif;
}

.foot-col h4{
    color: aliceblue;
}

.foot-col ul li a{
    color: aliceblue;
}

.foot-col a i{
    color: aliceblue;
    
}



.authentic h1{
    text-align: center;
    padding: 50px 0px 10px 50px;
    font-size: 40px;
    font-family: 'Montserrat'
}